body{
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
}

.side-hero{
    min-height: 100vh;
    min-width: 35vw;
    background-color: black;
    display: flex;
    flex-direction: column;
}

h1{
    background-color: #c8d6d7;
    margin: 2rem 0 0 0;
    text-align: center;
    font-family: Courier, monospace;
}

.sidebar-img{
    width: 30vw;
    max-width: 600px;
    margin: auto;
}

.img-credits{
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: smaller;
}

.img-credits>a{
    color: #c8d6d7;
}

.form-block{
    padding: 2rem;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    width: 70vw;
}

p:first-child{
    margin-top: 0;
}

h2{
    margin: 1rem 0 -5px 0;
}

.mandatory{
    font-size: x-small;
    background-color: #9cb1b3;
}

.input-fields{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
}

.inputs-block{
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 0.5rem;
}

.apply-btn{
    padding: .3em .8em;
    font-size: medium;
    font-weight: bold;
    background-color: #9cb1b3;
}